.bolt {
    font-weight: bold;
}

.p {
    /* other styles goes here... */
    display: inline-block;
}

ion-content.background {
    --background: url(../../assets/img/fondo.png) 0 0/100% 100% no-repeat;
}