<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Mis Cupones
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="background" padding="true">
    <div class="card border-success mb-3 " style="">
        <div class="card-header text-success">Cupones que puedes utilizar</div>
        <div class="card-body text-success">

            <div *ngIf="list?.length != 0">
                <h5 class="card-title">Todavia puedes canjear estos cupones:</h5>
                <div *ngFor="let cupones of list">
                    <p class="card-text text-success">Codigo: {{cupones.codigo}} </p>
                    <p class="card-text">{{cupones.nombre}} por {{cupones.valor}} </p>
                    <p class="card-text">Vencimiento: {{cupones.hasta.toDate() | date: 'mediumDate'}}</p>
                    <br>
                </div>

            </div>
            <div *ngIf="list?.length === 0" class="text-danger">
                No tienes cupones disponibles.
            </div>
        </div>
    </div>
</ion-content>